﻿.ui-autocomplete.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 14px;
}
.choose-file-top-padding {
    padding-top: 7px !important;
}

.choose-file-bottom-padding {
    padding-bottom: 5px !important;
}

td div.form-group.row label.col-sm-2.col-form-label.display-marker {
    padding-top: 0 !important;
}

.invalid-feedback {
    margin-top: .5rem !important;
}