*.db
*.db-shm
*.db-wal
*.bin
*.vsidx
*.dtbcache
*.suo
*.user
*.futdcache.*
.vs/
bin/
obj/
packages/
project.lock.json
sqlite3/
.vs/*/v*/
DesignTimeBuild/

/XXYXX.Core/XXYXX/Frameworks/Supermodel.Tooling/Supermodel.Tooling.SolutionMaker.Cmd/SupermodelSolutionTemplate.XXYXX.zip
