*.dtbcache
*.suo
*.user
bin/
obj/
packages/
project.lock.json
sqlite3/
.vs/*/v*/
DesignTimeBuild/
*.dtbcache
*.suo
*.user
bin/
obj/
packages/
project.lock.json
sqlite3/
*.dtbcache
*.SQLite.db-shm
*.SQLite.db-wal
*.db
*.v1
*.bin
*.lock
*.v2
*.v5
*.vsidx
*.zip
/TDM.Core/.vs/TDM.Core/project-colors.json
*.v5.2
/TDM.Core/.vs/ProjectEvaluation/tdm.core.metadata.v6.1
/TDM.Core/.vs/ProjectEvaluation/tdm.core.projects.v6.1
/TDM.Core/.vs/TDM.Core/v17/DocumentLayout.json
/XXYXX.Core/XXYXX/.vs/XXYXX/v17/DocumentLayout.json
/XXYXX.Core/XXYXX/Frameworks/Supermodel.Mobile/Supermodel.Mobile.Runtime.iOS/.vs/Supermodel.Mobile.Runtime.iOS.csproj.dtbcache.json
/XXYXX.Core/XXYXX/Frameworks/Supermodel.Mobile/Supermodel.Mobile.Runtime.Droid/.vs/Supermodel.Mobile.Runtime.Droid.csproj.dtbcache.json
/XXYXX.Core/XXYXX/Frameworks/Supermodel.Mobile/Supermodel.Mobile.Runtime.Droid/.vs/Supermodel.Mobile.Runtime.Droid.csproj.dtbcache.json
